In [1]:
import numpy as np
import pandas as pd

In [9]:
train = pd.read_csv('refined.csv')
manufacturers = pd.read_csv("manufacturer_list.csv")
print(train.head())
print(manufacturers.head())

                                    article_name
0                    Chicken Burger Patty (250G)
1              BRITANNIA DAILY FAMILY LONG BREAD
2  POOOF POTATO KETTLE CHIPS ZESTY MASALA PP 30g
3                            FEVIBOND TUBE 20 ML
4             KITKAT DESSERT DELIGHT TRUFFLE 50g
         brand_name
0     ORGANIC INDIA
1  head & shoulders
2          Sunfeast
3            Unibic
4           CREMICA

In [18]:
train['transformed'] = train['article_name'].str.lower()
train['transformed'] = train['transformed'].str.replace("'","")
train['transformed'] = train['transformed'].str.replace("(","")
train['transformed'] = train['transformed'].str.replace(")","")
train['transformed'] = train['transformed'].str.replace(")","")
train['transformed'] = train['transformed'].str.replace("/"," ")
train['transformed'] = train['transformed'].str.replace("&","")
train['transformed'] = train['transformed'].str.replace("-","")

In [20]:
train.head(10)

,article_name,transformed
0,Chicken Burger Patty (250G),chicken burger patty 250g
1,BRITANNIA DAILY FAMILY LONG BREAD,britannia daily family long bread
2,POOOF POTATO KETTLE CHIPS ZESTY MASALA PP 30g,pooof potato kettle chips zesty masala pp 30g
3,FEVIBOND TUBE 20 ML,fevibond tube 20 ml
4,KITKAT DESSERT DELIGHT TRUFFLE 50g,kitkat dessert delight truffle 50g
5,BLUE BIRD SPAGHETTI PASTA 200G,blue bird spaghetti pasta 200g
6,NIRAPARA AVALOSE PODI 500GM,nirapara avalose podi 500gm
7,NIVEA ROLL ON FRESH NATURAL 50ml,nivea roll on fresh natural 50ml
8,FIAMA DW SOAP EXOTIC DREAM BX 115g,fiama dw soap exotic dream bx 115g
9,SANGIS KTCN PERI PERI MAYONNAISE BT 200g,sangis ktcn peri peri mayonnaise bt 200g

In [30]:
train['quantity'] = train['transformed'].str.extract(r'([0-9].*(ml|g|kg|l|s|p))')
train['quantity'] = train['quantity']

In [36]:
train.head()

,article_name,transformed,quantity
0,Chicken Burger Patty (250G),chicken burger patty 250g,250g
1,BRITANNIA DAILY FAMILY LONG BREAD,britannia daily family long bread,NaN
2,POOOF POTATO KETTLE CHIPS ZESTY MASALA PP 30g,pooof potato kettle chips zesty masala pp 30g,30g
3,FEVIBOND TUBE 20 ML,fevibond tube 20 ml,20 ml
4,KITKAT DESSERT DELIGHT TRUFFLE 50g,kitkat dessert delight truffle 50g,50g

In [37]:
manufacturers.head()

         brand_name
0     ORGANIC INDIA
1  head & shoulders
2          Sunfeast
3            Unibic
4           CREMICA